<!-- app/views/users/_form.html.erb -->
<div class="container">
  <%= simple_form_for(@spot) do |f| %>
    <%= f.input :name %>
    <%= f.input :addresse%>
    <%= f.button :submit, "Create" %>
   <% end %>
</div>
