<div class="banner">
  <div class="banner-content">
    <h1>Fisher's social network</h1>
    <p>Find spots, tools & share sessions</p>
    <a class="btn-cta">Start now</a>
  </div>
</div>

<div class="home-section">
<div class="container">
 <h2>BIG spot</h2>
</div>
</div>
