<div class="banner">
  <div class="banner-content">
    <h1>Fisher's social network</h1>
    <p>Find spots, tools & share sessions</p>
    <%= link_to "Start now", spots_path, class: "btn-cta" %>
  </div>
</div>

<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h2>Don't be aaloooone</h2>
        <p>Find and share bests places</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="all">
          <div class="bowl">
            <div class="water">
              <div class="inner"></div>
            </div>

            <div class="top-water"></div>

            <div class="center-box">
              <div class="fisherman">
                <div class="body"></div>
                <div class="right-arm"></div>
                <div class="right-leg"></div>
                  <div class="rod"> <!-- # -->
                    <div class="handle"></div>
                    <div class="rope"></div>
                    <div class="water"></div>
                  </div> <!-- # -->
                <div class="butt"></div>
                <div class="left-leg"></div>
                <div class="left-arm"></div>

                <div class="head">
                  <div class="face"></div>
                  <div class="eyebrows"></div>
                  <div class="hat"></div>
                  <div class="eyes"></div>
                  <div class="nose"></div>
                  <div class="beard"></div>
                </div>
              </div>

              <div class="boat">
                <div class="motor">
                  <div class="parts"></div>
                  <div class="button"></div>
                </div>
                <div class="top"></div>
                <div class="boat-body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h2>Don't be aaloooone</h2>
        <p>Find and share bests places</p>
      </div>
      <div class="col-md-6 col-xs-12">
      </div>
    </div>
  </div>
</div>
